section.diag
	.container
		.diag__block
			.diag__title Диаграмма 1
			canvas#myChart1
		.diag__block
			.diag__title Диаграмма 2
			canvas#myChart2
		.diag__block
			.diag__title Микс диаграмм 1 и 2
			canvas#myChart3