-
	const SIDEBAR = [
		{
			text: "Dashboard",
			url: "#",
			svg: "bell",
			w: "27",
			h: "30"
		},
		{
			arr: [
				{
					url: "#",
					text: "Compose"
				},
				{
					url: "#",
					text: "Inbox",
					counter: "3",
					notice: true
				},
				{
					url: "#",
					text: "Draft",
					counter: "2"
				},
				{
					url: "#",
					text: "Sentbox",
					counter: "9"
				}
			],
			text: "Messages",
			url: "#",
			svg: "letter",
			w: "32",
			h: "26",
			counter: "3"
		},
		{
			text: "Overview",
			url: "#",
			svg: "compass",
			w: "32",
			h: "32"
		},
		{
			text: "Statistic",
			url: "#",
			svg: "stats",
			w: "32",
			h: "32"
		},
		{
			text: "Invoice",
			url: "#",
			svg: "document",
			w: "24",
			h: "32"
		},
		{
			text: "My Ads",
			url: "#"
		},
		{
			text: "Calendar",
			url: "#",
			svg: "calendar",
			w: "34",
			h: "34"
		},
		{
			text: "Feedback",
			url: "#",
			svg: "star",
			w: "32",
			h: "32"
		},
		{
			text: "Statement",
			url: "#",
			svg: "notepad",
			w: "24",
			h: "32"
		},
		{
			text: "Settings",
			url: "#",
			svg: "settings",
			w: "32",
			h: "32"
		},
	];