/* Breakpoints */
$media-list: (
	'xxs': 374,
	'xs': 560,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900,
);

/* Fonts */
$mainFont: 'Roboto', sans-serif;

/* Colors */
$mainColor: #000000;
$mainBg: #202127;
$black: #000000;
$white: #ffffff;
$white-fe: #fefefe;
$gray-24: #24262d;
$gray-21: #212228;
$gray-57: #57585e;
$gray-15: #15161b;
$purple: #d11e5b;
$light-green: #28dcbc;
$light-red: #e93c3c;
